@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(225, 100%, 94%);
  --secondary-color: hsl(245, 75%, 52%);
  --neutral-primary-color: hsl(225, 100%, 98%);
  --neutral-secondary-color: hsl(224, 23%, 55%);
  --neutral-third-color: hsl(223, 47%, 23%);
  --ff: "Red Hat Display", sans-serif;
  --fs: 1rem;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}

body {
  background: var(--primary-color);
}

main {
  width: 350px;
  border-radius: 16px;
  font-family: var(--ff);
  margin: 5px auto;
  background: var(--neutral-primary-color);
}

img[alt*="illustration"] {
  border-radius: 16px 16px 0 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 1.5rem;
  font-weight: var(--fw-900);
  margin: 20px;
  color: var(--neutral-third-color);
  text-align: center;
}

h1 + p {
  line-height: 1.5;
  text-align: center;
  margin: 0 40px;
  font-size: var(--fs);
  color: var(--neutral-secondary-color);
}

.container {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.875rem;
  background: var(--neutral-primary-color);
}

.container p:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-left: 10px;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.5;
  color: var(--neutral-third-color);
}
.container p:nth-child(2) span {
  font-weight: 500;
  color: var(--neutral-secondary-color);
}

.container p:nth-child(3) {
  font-size: 0.875rem;
  text-decoration: underline;
  color: var(--secondary-color);
  font-weight: 700;
  cursor: pointer;
}

.container p:nth-child(3):hover {
  color: hsl(245, 50%, 50%);
  transition: 0.1s;
}

button {
  border: none;
  margin-bottom: 15px;
  max-width: 100%;
  font-weight: 900;
  cursor: pointer;
}

.payment {
  display: block;
  border-radius: 16px;
  margin: 10px 40px;
  width: 80%;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  background: var(--secondary-color);
  color: #fff;
}

.payment:hover {
  background: hsl(245, 50%, 50%);
  transition: 0.1s;
}

.cancel {
  color: var(--neutral-secondary-color);
  display: block;
  margin: auto;
  padding: 10px;
}

.cancel:hover {
  color: var(--neutral-third-color);
  transition: 0.1s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
